<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.bulldog.catringe" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Catringe</name>
    <description>
        A catalog app from the bulldog project.
    </description>
    <author email="cid.27@outlook.com" href="http://www.amazon.de/">
        Cid Highwind
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
</widget>
